@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 7px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
	background: transparent;        /* цвет дорожки */
}


body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);    /* цвет плашки */
	border-radius: 7px;       /* закругления плашки */
}

.linkCardList::-webkit-scrollbar { width: 0; }

.linkCardList { -ms-overflow-style: none; }

.linkCardList { overflow: -moz-scrollbars-none; }

@layer base {
  :root {
		--radius: 0.5rem
	}
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
  }

  body {
	font-family: 'IBM Plex Mono', sans-serif;
  }